<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>About Kaws</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
</head>

<body>
    <h1>KAWS Bio Highlights</h1>
    <p> The guy behind the trendiest pop figurines</p>
    <p class='about-text'>Brian Donnelly (born November 4, 1974), known professionally as Kaws (stylized as KAWS), is an American artist and designer. His work includes repeated use of a cast of figurative characters and motifs, some dating back to the beginning of his career
        in the 1990s,[1] initially painted in 2D and later realized in 3D. Some of his characters are his own creations while others are reworked versions of existing icons. (source : wikipedia)</p>
    <a href="/">Back to Home Page</a>
</body>

</html>