<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Kaws curated selection</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
</head>

<body>
    <h1>KAWS</h1>
    <p>More pieces to come</p>
    <div>
        <img src="/art1.jpeg" alt="Kaws' piece" />
        <img src="/art2.jpeg" alt="Kaws' piece" />
        <img src="/art3.jpeg" alt="Kaws' piece" />
        <img src="/art4.jpeg" alt="Kaws' piece" />


    </div>>
</body>

</html>